=transition($sec)
	-webkit-transition: $sec
	-moz-transition: $sec
	-ms-transition: $sec
	-o-transition: $sec
	transition: $sec

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	-o-border-radius: $radius
	border-radius: $radius

=animation($animation)
	-webkit-animation: $animation
	-moz-animation: $animation
	-ms-animation: $animation
	-o-animation: $animation
	animation: $animation
button 
	background-color: #dad6cd
body
	background-color: #e8e8e8
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
	border-color: transparent
	box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent
	outline: 0 none
.typed-cursor
	opacity: 1
	font-weight: 100
	+animation(blink 0.7s infinite)
#box
	background-color: #fff
#start
	position: absolute
	margin-top: 20px 
	margin-left: 30px
#computer
	min-height: 500px
	background-color: #272822
	border: 15px solid #545454
	padding: 10px
	overflow: hidden
.boot
	background-color: #1d6584 !important
	+transition(background-color 1000ms linear)
.login
	background: url('../img/login.png') no-repeat center center !important
	background-size: cover !important
	+transition(background 1000ms linear)
nav
	margin-top: 60px
	margin-bottom: 0
	border-radius: 0 !important
	@media(min-width: 768px)
		border-radius: 0 !important
.navbar
	margin-bottom: 0
.type-wrap
	color: #fff
	padding: 5px
#assisant
	.message
		background-color: #272822
		min-height: 230px
		border-radius: 5px
		color: #fff
		padding-left: 10px
		font-size: 20px
	.clit
		width: 0
		height: 0
		border-left: 16px solid transparent
		border-right: 15px solid transparent
		border-top: 40px solid #272822
		margin-left: 80px
#r2d2
	width: 200px
#chatbox
	width: 100%
.neck
	height: 40px
	width: 20%
	background-color: #545454
.foot
	height: 30px
	width: 50%
	background-color: #545454
	margin-bottom: 15px
#run, #run2, #run3
	background: url('../img/run.png') no-repeat
	background-size: contain
	height: 250px
	width: 100%
	display: none
	position: absolute
	input
		margin-top: 106px
		border: 0
		margin-left: 71px
		width: 311px
	button 
		display: block
		margin-top: 70px
		margin-left: 117px
		width: 92px
		height: 30px
#run2, #run3
	top: 20px
#netcon
	background: url('../img/netcon.png') no-repeat
	background-size: contain
	height: 400px
	width: 100%
	display: none
	button 
		margin-top: 224px
		margin-left: 74px
		width: 84px
		height: 22px
		font-size: 12px
#netcon1
	background: url('../img/netcon1.png') no-repeat
	background-size: contain
	height: 341px
	width: 100%
	margin-left: 30px
	position: absolute
	display: none
	top: 80px
	button 
		margin-top: 222px
		margin-left: 165px
		width: 72px
		height: 22px
		font-size: 11px
#netcon2
	background: url('../img/netcon2.png') no-repeat
	background-size: contain
	height: 419px
	width: 100%
	margin-left: 85px
	position: absolute
	display: none
	top: 16px
	input
		font-size: 13px
		width: 111px
		margin-left: 182px
		position: absolute
		height: 20px
	.ip 
		top: 153px
	.mask 
		top: 178px
	.gateway 
		top: 203px
	button 
		margin-left: 207px
		position: absolute
		top: 387px
		height: 24px
		width: 67px
#server28
	display: none
	background: url('../img/server28.png') no-repeat
	background-size: contain
	height: 460px
	width: 100%
	position: absolute
	top: 20px
	.changesettings
		display: inline-block
		width: 100px
		margin-top: 292px
		margin-left: 467px
		text-decoration: none
		cursor: pointer
		background-color: #fff
		+animation(blink 1s linear infinite)
#server281
	display: none
	background: url('../img/server281.png') no-repeat
	background-size: contain
	height: 460px
	width: 100%
	position: absolute
	top: 20px
	margin-left: 70px
	button 
		margin-top: 222px
		margin-left: 283px
#server282
	display: none
	background: url('../img/server282.png') no-repeat
	background-size: contain
	height: 460px
	width: 100%
	position: absolute
	top: 20px
	margin-left: 20px
	input 
		width: 333px
		margin-top: 139px
		display: block
		margin-left: 17px
	button 
		margin-top: 250px
		margin-left: 176px
		width: 85px
		height: 27px
#server283
	display: none
	background: url('../img/server283.png') no-repeat
	background-size: contain
	height: 260px
	width: 400px
	position: absolute
	top: 172px
	margin-left: 157px
	button 
		margin-left: 317px
		width: 70px
		height: 30px
		margin-top: 138px
#server284
	display: none
	background: url('../img/server284.png') no-repeat
	background-size: contain
	height: 260px
	width: 400px
	position: absolute
	top: 172px
	margin-left: 157px
	button 
		margin-left: 167px
		width: 105px
		height: 31px
		margin-top: 123px
#firewall
	background: url('../img/firewall.png') no-repeat
	background-size: contain
	display: none
	position: absolute
	height: 460px
	top: 20px
	width: 100%
	button
		border: 0
		background-color: #fff
		width: 100px
		margin-top: 132px
		margin-left: 388px
		+animation(blink 1s linear infinite)
#firewall1
	background: url('../img/firewall1.png') no-repeat
	background-size: contain
	display: none
	position: absolute
	height: 460px
	top: 20px
	width: 100%
	input[value="on"]
		margin-top: 149px
		position: absolute
		margin-left: 53px
	input[value="off"]
		margin-top: 305px
		position: absolute
		margin-left: 53px
	button 
		margin-top: 429px
		position: absolute
		margin-left: 157px
		width: 65px
		height: 23px
#ping
	display: none
	background: url('../img/ping.png') no-repeat
	background-size: contain
	height: 500px
	width: 90%
	top: 20px
	position: absolute
	color: #239328
	input
		width: 300px
		margin-top: 64px
		margin-left: 200px
		height: 19px
		background-color: #000
		border: 0
		color: #239328
		font-size: 15px
		font-weight: 500
	div
		margin-left: 10px
		color: #239328
		font-size: 15px
		font-weight: 500
#dcpromo1, #dcpromo7
	display: none
	height: 200px
	.loading
		margin-top: 144px
		position: absolute
		width: 266px
		margin-left: 36px
		.bar
			width: calc(100% - 2px)
			height: 21px
			background: #e0e0e0
			padding: 3px
			border-radius: 3px
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2)
		.progress-bar-fill
			display: block
			height: 16px
			background: #659cef
			border-radius: 3px			
			+transition(width 10s ease-in-out)
.load1
	background: url('../img/dcpromo.png') no-repeat
	background-size: contain
.load2
	background: url('../img/dcpromo1.png') no-repeat
	background-size: contain

#dcpromo2, #dcpromo3, #dcpromo4, #dcpromo5, #dcpromo6, #dcpromo8, #dcpromo9, #dcpromo10, #dcpromo11, #dcpromo12
	display: none
	background-size: contain !important
	width: 100%
	height: 500px
	button 
		margin-left: 323px
		width: 75px
		height: 26px
		margin-top: 461px
#dcpromo2
	background: url('../img/dcpromo2.png') no-repeat
#dcpromo3
	background: url('../img/dcpromo3.png') no-repeat
#dcpromo4
	background: url('../img/dcpromo4.png') no-repeat
	input
		position: absolute
		margin-top: 180px
		margin-left: 44px
		width: 17px
		height: 17px
#dcpromo5
	background: url('../img/dcpromo5.png') no-repeat
	input
		position: absolute
		margin-top: 254px
		margin-left: 44px
		width: 17px
		height: 17px
#dcpromo6
	background: url('../img/dcpromo6.png') no-repeat
	input
		position: absolute
		margin-top: 160px
		margin-left: 44px
		width: 407px
		height: 24px
#dcpromo8
	background: url('../img/dcpromo7.png') no-repeat
#dcpromo9
	background: url('../img/dcpromo8.png') no-repeat
.loading1
	background: url('../img/loading1.png') no-repeat
	background-size: contain
.loading2
	background: url('../img/loading2.png') no-repeat
	background-size: contain
#alert1
	background: url('../img/alert1.png') no-repeat
	background-size: contain
	margin-top: 100px
	margin-left: 100px
	height: 260px
	display: none
	position: absolute
	top: 20px
	width: 435px
	button 
		margin-top: 218px
		margin-left: 255px
		position: absolute
		width: 80px
		height: 27px
#dcpromo10
	background: url('../img/dcpromo9.png') no-repeat
#dcpromo11
	background: url('../img/dcpromo10.png') no-repeat
	.password
		margin-top: 191px
		margin-left: 193px
		width: 219px
		position: absolute
		height: 25px
	.confirm
		margin-top: 221px
		margin-left: 192px
		width: 220px
		position: absolute
		height: 25px
#dcpromo12
	background: url('../img/dcpromo11.png') no-repeat
#alert2
	background: url('../img/alert2.png') no-repeat
	background-size: contain
	margin-top: 100px
	margin-left: 100px
	height: 340px
	position: absolute
	display: none
	top: 20px
	width: 438px
	input
		position: absolute
		margin-top: 286px
		margin-left: 13px
		width: 15px
		height: 15px
	.loading
		margin-top: 219px
		position: absolute
		width: 410px
		margin-left: 13px
		.bar
			width: calc(100% - 2px)
			height: 21px
			background: #e0e0e0
			padding: 3px
			border-radius: 3px
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2)
		.progress-bar-fill
			display: block
			height: 16px
			background: #659cef
			border-radius: 3px			
			+transition(width 10s ease-in-out)
#dcpromo13
	background: url('../img/dcpromo12.png') no-repeat
	background-size: contain 
	display: none
	width: 100%
	height: 500px
#dcpromo14
	background-size: contain !important
	display: none
	width: 100%
	height: 500px
	+transition(background 1000ms linear)
	.icon, .mouse
		display: none
.bg141
	background: url('../img/dcpromo13.png') no-repeat
	+transition(background 1000ms linear)
.bg142
	background: url('../img/dcpromo13.1.png') no-repeat
	+transition(background 1000ms linear)
.bg143
	background: url('../img/dcpromo13.2.png') no-repeat
	+transition(background 1000ms linear)
.bg144
	background: url('../img/dcpromo13.3.png') no-repeat
	+transition(background 1000ms linear)
	.icon
		display: block !important
		+animation(blink 1s infinite)
		position: absolute
		margin-top: 45px
		width: 20px
		margin-left: 280px
		cursor: pointer
	.mouse
		position: absolute
		margin-top: 61px
		width: 64px
		margin-left: 295px
#dcpromo15
	margin-top: 20px
	margin-left: 30px
	background: url('../img/dcpromo14.png') no-repeat
	background-size: contain
	width: 100%
	height: 500px
	display: none
	position: absolute
	top: 0
	button
		margin-left: 228px
		margin-top: 451px
		position: absolute
		width: 95px
		height: 33px
	input 
		margin-left: 33px
		margin-top: 161px
		position: absolute
		width: 441px
#dcpromo16
	background: url('../img/dcpromo15.png') no-repeat
	background-size: contain
	display: none 
	width: 100%
	height: 500px
	position: absolute
	top: 20px
	button
		margin-top: 451px
		margin-left: 335px
		width: 95px
		height: 32px
		position: absolute
	.name
		position: absolute
		margin-top: 142px
		margin-left: 164px
		width: 164px
	.fullname
		position: absolute
		margin-top: 222px
		margin-left: 167px
		height: 22px
		width: 309px
	.logon
		position: absolute
		margin-top: 295px
		margin-left: 32px
		width: 216px
	.logonname
		position: absolute
		margin-top: 368px
		height: 22px
		width: 211px
		margin-left: 264px
#dcpromo17
	background: url('../img/dcpromo16.png') no-repeat
	background-size: contain
	display: none 
	width: 100%
	height: 500px
	position: absolute
	top: 20px
	button
		margin-top: 451px
		margin-left: 335px
		width: 95px
		height: 32px
		position: absolute
	.password
		position: absolute
		margin-top: 141px
		margin-left: 209px
		width: 266px
	.confirm	
		position: absolute
		margin-top: 180px
		margin-left: 209px
		width: 266px
	.check1
		position: absolute
		width: 25px
		height: 25px
		margin-top: 227px
		margin-left: 31px
	.check2
		position: absolute
		width: 25px
		height: 25px
		margin-top: 260px
		margin-left: 31px
	.check3
		position: absolute
		width: 25px
		height: 25px
		margin-top: 293px
		margin-left: 31px
	.check4
		position: absolute
		width: 25px
		height: 25px
		margin-top: 325px
		margin-left: 31px
#dcpromo18
	background: url('../img/dcpromo17.png') no-repeat
	background-size: contain
	display: none 
	width: 100%
	height: 500px
	position: absolute
	top: 20px
	button
		margin-top: 451px
		margin-left: 335px
		width: 95px
		height: 32px
		position: absolute
#role1
	background-size: contain !important
	width: 100%
	height: 500px
	display: none
	a 
		display: none
		width: 100px
		height: 18px
		text-decoration: none
		margin-left: 524px
		position: absolute
		margin-top: 157px
		background-color: #f7f7f3
		+animation(blink 1s infinite)
.role1v1
	background: url('../img/role1.png') no-repeat
	+transition(background 1000ms linear)
.role1v2
	background: url('../img/role1v1.png') no-repeat
	+transition(background 1000ms linear)
#role2, #role3, #role4, #role5, #role6, #role7, #role8, #role9, #role10, #role11, #role12
	background-size: contain !important
	display: none 
	width: 100%
	height: 500px
	button, .next 
		margin-top: 464px
		position: absolute
		margin-left: 402px
		width: 61px
		height: 21px
		font-size: 11px
#role2
	background: url('../img/role2.png') no-repeat
#role3
	background: url('../img/role3.png') no-repeat
	.cbox1
		position: absolute
		margin-top: 206px
		margin-left: 179px
	.cbox2
		position: absolute
		margin-top: 288px
		margin-left: 179px
	.cbox3
		position: absolute
		margin-top: 274px
		margin-left: 179px
	.cbox4	
		position: absolute
		margin-top: 248px
		margin-left: 179px
#role4
	background: url('../img/role4.png') no-repeat
#role5
	background: url('../img/role5.png') no-repeat
	input
		position: absolute
		margin-top: 126px
		margin-left: 178px
#role6
	background: url('../img/role6.png') no-repeat
#role7
	background: url('../img/role7.png') no-repeat
	input
		position: absolute
		margin-top: 248px
		margin-left: 169px
#role8
	background: url('../img/role8.png') no-repeat
#role9
	background: url('../img/role9.png') no-repeat
	.add
		margin-top: 163px
		position: absolute
		margin-left: 537px
		width: 61px
		height: 21px
		font-size: 11px
	.user1
		margin-top: 179px
		position: absolute
		margin-left: 182px
		width: 200px
		font-size: 11px
		color: #000
#role9v1
	background: url('../img/role9v1.png') no-repeat
	background-size: contain
	width: 469px
	height: 268px
	position: absolute
	margin-top: 80px
	margin-left: 100px
	display: none
	position: absolute
	top: 0
	.names
		background-color: #dad6cd
		margin-left: 363px
		margin-top: 160px
		width: 92px
		font-size: 12px
	.okie
		background-color: #dad6cd
		margin-left: 296px
		margin-top: 43px
		width: 77px
		font-size: 12px
	.user1
		margin-top: 168px
		position: absolute
		margin-left: 20px
		width: 333px
		font-size: 11px
		color: #000
#role9v2
	background: url('../img/role9v2.png') no-repeat
	background-size: contain
	width: 529px
	height: 350px
	position: absolute
	margin-top: 81px
	margin-left: 46px
	display: none
	position: absolute
	top: 0
	button 
		position: absolute
		margin-top: 301px
		margin-left: 374px
		width: 71px
		height: 25px
		font-size: 13px
	table
		position: absolute
		top: 119px
		width: 483px
		margin-left: 32px
		tbody
			tr 
				cursor: pointer
				&:hover
					background-color: #214c8c
					color: #fff
				td
					width: 81px
					padding-left: 5px
.blue 
	background-color: #214c8c
	color: #fff
#role10
	background: url('../img/role10.png') no-repeat
#role11
	background: url('../img/role11.png') no-repeat
#role12
	background: url('../img/role12.png') no-repeat
	img 
		display: none
		margin-top: 298px
		position: absolute
		margin-left: 174px
		width: 61px
		height: 21px
		font-size: 11px
	.validate
		margin-top: 275px
		position: absolute
		margin-left: 388px
		width: 61px
		height: 21px
		font-size: 11px






